* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px; /* set max width */
  margin: 0 auto; /* center content in container */
}

.container-title {
  font-size: 60px;
  text-align: center;
  font-weight: normal;
  font-family: 'Great Vibes', cursive;
  margin: 60px 0;
}

.container-upper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.container-lower {
  display: flex;
  flex-direction: row;
}

.container-lowest {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-top: 15px;
}

.button {
  width: 30%;
  margin: 0 auto;
  font-size: 50px;
  font-weight: bold;
  background: #61ad83;
  color: #555;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 3px 3px 5px 6px gray;
}

.button:hover {
  background: #74a882;
  box-shadow: 0px 0px 0px 0px gray;
  cursor: pointer;
}

.article-left {
  width: 25%;
  /* flex: 1; */
}

.article-middle {
  width: 50%;
  /* flex: 2; */
}

.article-right {
  width: 25%;
  /* flex: 1; */
}

.article {
  border: solid 1px #333;
  padding: 10px;
  font-size: 18px;
}

.article-title {
  font-weight: normal;
  font-style: italic;
  font-size: 30px;
  margin: 15px 0;
  text-align: center;
}

.article-text {
  line-height: 1.5;
}

.article-image {
  width: 100%;
}

.article-image:hover {
  box-shadow: 3px 3px 5px 6px gray;
}

.article-navigation {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  /* width: 100%; */
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 25px;
  font-size: 30px;
  color: #555;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-item a {
  text-decoration: none;
  color: #555;
}

.nav-item a:hover {
  text-decoration: underline;
}

.three-quarter {
  /*width: 75%; */
  flex: 3;
}

.nav-item:nth-child(1) {
  background: #ffeaa7;
}
.nav-item:nth-child(2) {
  background: #81ecec;
}
.nav-item:nth-child(3) {
  background: #55efc4;
}
.nav-item:nth-child(4) {
  background: #74b9ff;
}
.nav-item:nth-child(5) {
  background: #a29bfe;
}
